<footer>
  <p>
    Copyright &copy; <%= Time.now.year %>
    <%# rel attributes used to enhance security %>
    <%= link_to "Roger Pfäffli", "https://github.com/rpf13",target: "_blank", rel: 'noopener noreferrer' %>
  </p>
</footer>